@font-face {
    font-family: Roboto;
    src: url(../../../assets/Roboto/Roboto-Black.ttf);
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.mt-5{
    margin-top: 15px;
}
.mt-3{
    margin-top: 3px;
}
.titulo{
    font-size: 50px;
    font-family: Roboto;
}
.cargando{
    display: block;
    padding: 5px;
    background-color: rgb(78, 243, 78);
    color: white;
}
.modal-card{
    width: 70%;
}

.nueva_escala{
    display: none;
}

.close{
    color: red;
    cursor: pointer;
}
.subtitulos{
    font-size: 35px;
    font-family: Roboto;
}
.subtitulos-p{
    font-size: 30px;
    font-family: Roboto;
}

.number{
    font-size: 30px;
}
.xwidth{
    width: 150px;
}

.containe{
    margin-left: 1%;
    width: 98%;
}
.titulo{
    font-size: 50px;
    font-family: Roboto;
}
