.subtitulos{
    font-size: 30px;
    font-family: Roboto;
}

.cintillo_{
    padding: 5px;
    background-color: rgb(28, 40, 49);
    color: white;
}

.fecha_mostrada{
    display: block;
    position: relative;
    margin-top: -150px;
    margin-right: 20px;
    color: white;
}