<div class="modal" [ngClass]="{'is-active':retorno3}">
    <div class="modal-background" (click)="cerrar()"></div>
    <div class="modal-card" style="width: 1200px;">
        <div class="modal-card-body">

            <span class="title">
                Selecciona material
            </span>
            <hr>

            <div *ngFor="let Aprobado of Aprobados; index as i">
                <div class="field is-grouped">
                    <div class="control">
                        <label for="" class="label">Desde:</label>
                        <div class="select">
                            <select [(ngModel)]="Aprobado.origen" disabled>
                                <option value="Wil Projects, C.A.">Wil Projects, C.A.</option>
                                <option value="Redispaca Distribuidora de Papel, C.A.">Redispaca Distribuidora de Papel,
                                    C.A.</option>
                            </select>
                        </div>
                    </div>
                    <!--     
                    <div class="control">
                        <label for="" class="label">Material</label>
                        <div class="select">
                            <select [(ngModel)]="Aprobado.material" (change)="materiales_para_retornar = []">
                                <option [ngValue]="omitTotal(item)" *ngFor="let item of getProductosAgrupados(Aprobado.origen);index as i">{{item.nombre}} {{item.marca}} ({{item.ancho}}x{{item.largo}}) {{item.gramaje}}g/m² / {{item.calibre}}pt</option>
                            </select>
                        </div>
                    </div>
     -->
                </div>


                <br>
                <span class="title">
                    Selecciona paletas
                </span>

                <hr>

                <table class="table is-fullwidth is-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Material</th>
                            <th>Marca</th>
                            <th>Calibre (pt)</th>
                            <th>Gramaje (g/m²)</th>
                            <th>Lote</th>
                            <th>Código</th>
                            <th>Cantidad (und)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of filtrarPorMaterial(Aprobado.material);index as i">
                            <td><input type="checkbox" name="" id="" (click)="add_material(i, Aprobado.material)"></td>
                            <td>{{producto.material.nombre}} ({{producto.material.ancho}}x{{producto.material.largo}})
                            </td>
                            <td>{{producto.material.marca}}</td>
                            <td>{{producto.material.calibre}}</td>
                            <td>{{producto.material.gramaje}}</td>
                            <td>{{producto.lote}}</td>
                            <td>{{producto.codigo}}</td>
                            <td>{{producto.cantidad}}</td>
                        </tr>
                    </tbody>
                </table>

                <hr>
                <button class="button is-success" [disabled]="!materiales_para_retornar"
                    (click)="devolverMaterial2(Aprobado._id)">
                    <div>Trasladar</div>
                </button>
            </div>


        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'is-active':retorno}">
    <div class="modal-background" (click)="cerrar()"></div>
    <div class="modal-card" style="width: 1200px;">
        <div class="modal-card-body">

            <span class="title">
                Selecciona material
            </span>
            <hr>

            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Desde:</label>
                    <div class="select">
                        <select [(ngModel)]="almacen">
                            <option value="Wil Projects, C.A.">Wil Projects, C.A.</option>
                            <option value="Redispaca Distribuidora de Papel, C.A.">Redispaca Distribuidora de Papel,
                                C.A.</option>
                        </select>
                    </div>
                </div>

                <div class="control">
                    <label for="" class="label">Material</label>
                    <div class="select">
                        <select [(ngModel)]="selected_" (change)="modificarSelected($event)">
                            <option value="{{i}}" *ngFor="let material of getProductosAgrupados(almacen);index as i">
                                {{material.nombre}} {{material.marca}} ({{material.ancho}}x{{material.largo}})
                                {{material.gramaje}}g/m² / {{material.calibre}}pt</option>
                        </select>
                    </div>
                </div>
            </div>


            <br>
            <span class="title">
                Cantidad de traslado
            </span>
            <hr>

            <div class="field is-grouped">
                <div class="control">
                    <label for="" class="label">Cantidad de hojas</label>
                    <input type="number" class="input" placeholder="Hojas a trasladar" [(ngModel)]="cantidad">
                </div>
            </div>


            <br>
            <span class="title">
                Observación
            </span>
            <hr>
            <textarea name="" id="" rows="3" class="textarea" [(ngModel)]="observacion"></textarea>
            <hr>
            <button class="button is-success" [disabled]="!materiales_para_retornar" (click)="devolverMaterial()">
                <div>Generar traslado</div>
            </button>

        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'is-active':retorno2}">
    <div class="modal-background" (click)="cerrar()"></div>
    <div class="modal-card" *ngIf="retorno2">
        <div class="modal-card-body">

            <span class="title">
                Por aprobar
            </span>
            <hr>
            <div *ngFor="let pendiente of Pendientes">

                <b>Origen:</b> {{pendiente.origen}}<br>
                <b>observación:</b> {{pendiente.observacion}} <br>
                <b>Material:</b> {{pendiente.material.nombre}} {{pendiente.material.marca}}
                ({{pendiente.material.ancho}}x{{pendiente.material.largo}}) {{pendiente.material.gramaje}}g/m²
                {{pendiente.material.calibre}}pt<br>
                <b>Cantidad:</b> {{pendiente.cantidad}} <br>
                <b>Solicitado por:</b> {{pendiente.solicitado}} <br>
                <br>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-success" (click)="updateRetorno(pendiente._id, 'Aprobado')">
                            <span>Aceptar</span>
                        </button>
                    </div>
                    <div class="control">
                        <button class="button is-danger" (click)="updateRetorno(pendiente._id, 'Rechazado')">
                            <span>Rechazar</span>
                        </button>
                    </div>
                </div>

                <hr>

            </div>
        </div>
    </div>
</div>