<div class="modal" [ngClass]="{'is-active':devolucion}">
    <div class="modal-background" (click)="onClose()"></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <div class="subtitulo">
                Devolución de Material
            </div>
            <hr>
                    <p>Selecciona Orden de Produccion</p>

                    <div class="select">
                        <select (change)="seleccionarMateriales()" id="ordens">
                            <option value="·">Seleccionar OP</option>
                            <option value="#">Otros materiales</option>
                            <option value="Repuesto">Repuesto</option>
                            <ng-container *ngIf="usuario.Gestiones != 5 && usuario.Gestiones != 9">
                                <ng-container *ngFor="let orden of repeticion">
                                    <ng-container *ngIf="orden != '#'">
                                        <option value="{{orden}}">
                                              {{orden}}
                                        </option>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </select>
                    </div>
                    <!--   <button class="button is-info" *ngIf="materiales" (click)="DescargarFormato()">
                        <span>Descargar formato</span>
                    </button> -->
                    <hr>
                    <ng-container *ngIf="Repuesto">

                        <div class="field">
                            <label for="" class="label bigga">Nº Asignación</label>
                            <div class="columns">
                                <div class="column is-3">
                                    <b class="ASIG">RP-ASG-25-</b>
                                </div>
                                <div class="column is-2">
                                    <input type="text" class="input" placeholder="000" (change)="buscarAsignacion($event.target.value)">
                                </div>
                                <div class="column">

                                </div>
                            </div>
                        </div>
                        <hr>
                        <table class="table is-fullwidth is-striped" *ngIf="RepuestoAprobados.repuestos.length > 0">
                            <thead>
                                <tr>
                                    <th>Repuesto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let repuestos of RepuestoAprobados.repuestos">
                                    <td>{{repuestos.repuesto.parte}} - {{repuestos.repuesto.nombre}}</td>
                                    <td><input type="text" class="input" placeholder="{{repuestos.cantidad}}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-container *ngIf="RepuestoAprobados.repuestos.length > 0">
                        <textarea name="" class="textarea" rows="2" placeholder="Motivo"></textarea>
                            <br>
                                <button class="button is-primary" (click)="finalizarDevolucion(materiales[i]._id,Motivo)">
                                    Realizar Devolución
                                </button> 
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="materiales of materiales;index as i">
                        <b class="Asignacion"> Asignación: AL-ASG-{{materiales[i].asignacion}}</b> <br>
                        <table class="table is-fullwidth is-striped">
                            <thead>
                                <tr>
                                    <th>Material</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let material of materiales[i].material;index as x">
                                    <td>
                                        <div class="columns">
                                            <!-- <div class="column is-1">
                                                <input type="checkbox" (click)="agregarAFormato(i,x)">
                                            </div> -->
                                            <div class="column">
                                                {{material.material.nombre}}
                                                <ng-container *ngIf="material.material.ancho">
                                                    {{material.material.ancho}} x {{material.material.largo}}
                                                </ng-container>
                                                ({{material.material.marca}})<br>
                                            <b>Lote: </b>{{material.lote}} - <b>Código: </b>{{material.codigo}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field has-addons">
                                            <p class="control">
                                                <input class="input" type="number" placeholder="Devolución" (change)="agregarMaterial(materiales[i]._id,cantidad,material.material._id,material.lote,material.codigo,i,x)" #cantidad>
                                            </p>
                                            <p class="control">
                                                <a class="button is-static">
                                                    {{material.material.unidad}}
                                                </a>
                                              </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody> 
                            <button class="button is-danger" (click)="CerrarDevolucion(materiales[i]._id)">
                                Cerrar
                            </button>
                        </table>
                    </ng-container>
                    <br>
                    <textarea *ngIf="materiales" class="textarea has-fixed-size" row="2" placeholder="Motivo" id='Motivo__' [(ngModel)]="_Motivo"></textarea>
                    <p class="error" id="_error">Debe ingresar un motivo</p>
                    <br>
                    <button class="button is-primary" (click)="finalizarDevolucion()" *ngIf="materiales">
                        Realizar Devolución
                    </button> 

        </div>
    </div>
</div>