<section class="hero is-small is-primary">
    <!-- <img src="../assets/BANNER-SIO-1092x270-v03.jpg"> -->
</section>

<div class="container">
    <div class="columns menu">
        <div class="column">
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        </div>
        <div class="column">
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        </div>
        <div class="column">
            <img src="../../../assets/BANNER-ORDENES-COMPRA.png" alt="" routerLink="/orden/orden-compra">
        </div>
        <div class="column">
            <img src="../../../assets/BANNER-ORDENES-PRODUCCION.png" alt="" routerLink="/orden/orden-produccion">
        </div>
        <div class="column">
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        </div>
        <div class="column">
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        </div>
    </div>
</div>