<section class="hero is-small is-primary">
    <!-- <img src="../assets/BANNER-SIO-1092x270-v03.jpg"> -->
</section>

<div class="container mt-5 animate__animated animate__fadeIn">
    <div class="columns menu">
        <div class="column">
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        </div>
        <div class="column">
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        </div>
        <div class="column">
            <img src="../../../assets/BANNER-COTIZACIONES.png" alt=""  routerLink="/ventas/cotizacion">
        </div>
        <div class="column">
            <img src="../../../assets/BANNER-GESTION-DE-PRECIOS.png" alt="" routerLink="/ventas/gestion">
        </div>
        <div class="column">
            <img src="../../../assets/BANNER-PREFACTURACION.png" routerLink="/ventas/pre-facturacion">
        </div>
        <div class="column">
            <img src="../../../assets/BANNER-FACTURACION.png" routerLink="/ventas/consulta-facturacion">
        </div>
        <div class="column">
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        </div>
        <div class="column">
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        </div>
    </div>
</div>

<!-- <a routerLink="/precios/gestion">Gestion de precios</a><br>
<a routerLink="/precios/pre-facturacion">Pre facturacion</a> -->