<div class="container">
    <div class="titulo">
        <i class="fas fa-sticky-note"></i> Análisis de sustrato
    </div>

    <div class="card">
        <div class="card-content">
            <div class="field">
                <label for="" class="label">Lotes por analizar</label>
                <div class="control">
                    <div class="select">
                        <select (change)="_BuscarLote($event.target.value)">
                            <option value="#">Lotes por analizar</option>
                            <option value="{{lote.grupo}}*{{lote.lote}}" *ngFor="let lote of Lotes_por_analizar">{{lote.lote}} - {{lote.nombre}} {{lote.ancho}}x{{lote.largo}} ({{lote.marca}}) {{lote.gramaje}}g cal:{{lote.calibre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="field">
                <label for="" class="label">Lote a analizar</label>
                <div class="control">
                    <input type="text" class="input  n_lote" placeholder="N° de lote" (change)="buscarLote($event.target.value)">
                    <span>
                        <button class="button is-success">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                </div>
            </div> -->

            <table class="table is-fullwidth" *ngIf="material.length > 0" >
                <tr>
                    <th class="is-selected">Información del sustrato</th>
                </tr>
            </table>

            <table class="table is-fullwidth" *ngIf="material.length > 0">
                <tr>
                    <!-- <th class="is-selected">Descripción del sustrato</th> -->
                    <td colspan="3">{{material[0].material.nombre}} ({{material[0].material.ancho}}x{{material[0].material.largo}}) </td>

                    <th class="is-selected">N° de lote</th>
                    <td>{{material[0].lote}}</td>

                </tr>
                <tr>
                    <th class="is-selected">Proveedor</th>
                    <td>{{FacturaSelected.proveedor.nombre}}</td>

                    <th class="is-selected" width="120px">Cantidad</th>
                    <td colspan="3">{{totales.total}}</td>
                </tr>

                <tr>
                    <th class="is-selected">Fabricante (molino)</th>
                    <td>{{material[0].material.marca}}</td>

                    <th class="is-selected">Convertidora</th>
                    <td colspan="3">Convertidora Finlandia C.A.</td>
                </tr>
                <tr>
                    <th class="is-selected">N° Orden de conversion</th>
                    <td>22015</td>
                </tr>
            </table>

        <hr>

        <div class="field" *ngIf="material.length > 0">
            <label for="" class="label">Cantidad de muestras:</label>
            <div class="control">
                <input type="number" class="input n_lote_ is-small" min="0" [(ngModel)]="muestras">
                <button class="button is-success is-small">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>

        <hr>

        <div class="field" *ngIf="muestras > 0">
            <label for="" class="label">Tamaño de muestra</label>
            <div class="columns">
                <div class="column ">
                    <div class="control">
                        <label for="" class="label">Ancho (cm)</label>
                        <input type="text" class="input is-small gramaje" [(ngModel)]="ancho">
                    </div>
                </div>
                <div class="column">
                    <div class="control">
                        <label for="" class="label">Largo (cm)</label>
                        <input type="text" class="input is-small gramaje" [(ngModel)]="largo">
                    </div>
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                </div>
            </div>
        </div>
        <b *ngIf="muestras > 0">Area (cm²):</b>
        <ng-container *ngIf="muestras > 0">
            {{ancho * largo}} <br>
        </ng-container>
        <button class="button is-success is-small" *ngIf="(ancho * largo)>0" (click)="showTables()">
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span>
                continuar
            </span>
        </button>
        <hr>

        <table class="table is-fullwidth is-bordered" *ngIf="_gramaje && tablas">
            <tr>
                <th style="border: none;"></th>
                <th class="is-selected" colspan="3">Especificación</th>
                <th class="is-selected" colspan="4">Resultado</th>
            </tr>
            <tr>
                <th style="border: none;"></th>
                <th style="text-align: center;">mín</th>
                <th style="text-align: center;">Estandar</th>
                <th style="text-align: center;">máx</th>
                <th style="text-align: center;">X̅</th>
                <th style="text-align: center;">S</th>
                <th style="text-align: center;">mín</th>
                <th style="text-align: center;">máx</th>
            </tr>
            <tr>
               <th style="text-align: center;">Gramaje</th>
               <td style="text-align: center;">{{material[0].material.gramaje_e[0]}}</td>
               <td style="text-align: center;">{{material[0].material.gramaje_e[1]}}</td>
               <td style="text-align: center;">{{material[0].material.gramaje_e[2]}}</td>
               <td style="text-align: center;">{{promedio.toFixed(Gramaje_nf)}}</td>
               <td style="text-align: center;">{{desviacion.toFixed(Gramaje_nf)}}</td>
               <td style="text-align: center;">{{min_gramaje}}</td>
               <td style="text-align: center;">{{max_gramaje}}</td> 
            </tr>
            <tr>
                <th style="text-align: center;">Cobb top</th>
                <td style="text-align: center;">{{material[0].material.cobb[0]}}</td>
                <td style="text-align: center;">{{material[0].material.cobb[1]}}</td>
                <td style="text-align: center;">{{material[0].material.cobb[2]}}</td>
                <td style="text-align: center;">{{promedio_cobb_top}}</td>
                <td style="text-align: center;">{{desviacion_cobb_top}}</td>
                <td style="text-align: center;">{{min_cobb_top}}</td>
                <td style="text-align: center;">{{max_cobb_top}}</td> 
             </tr>
             <tr>
                <th style="text-align: center;">Cobb back</th>
                <td style="text-align: center;">{{material[0].material.cobb[3]}}</td>
                <td style="text-align: center;">{{material[0].material.cobb[4]}}</td>
                <td style="text-align: center;">{{material[0].material.cobb[5]}}</td>
                <td style="text-align: center;">{{promedio_cobb_back}}</td>
                <td style="text-align: center;">{{desviacion_cobb_back}}</td>
                <td style="text-align: center;">{{min_cobb_bac}}</td>
                <td style="text-align: center;">{{max_cobb_bac}}</td> 
             </tr>
        </table>

        <table class="table is-fullwidth is-bordered" *ngIf="_calibre && tablas">
            <tr>
                <th style="border: none;"></th>
                <th class="is-selected" colspan="3">Especificación</th>
                <th class="is-selected" colspan="4">Resultado</th>
            </tr>
            <tr>
                <th style="border: none;"></th>
                <th style="text-align: center;">mín</th>
                <th style="text-align: center;">Estandar</th>
                <th style="text-align: center;">máx</th>
                <th style="text-align: center;">X̅</th>
                <th style="text-align: center;">S</th>
                <th style="text-align: center;">mín</th>
                <th style="text-align: center;">máx</th>
            </tr>
            <tr>
                <th style="text-align: center;">Calibre (mm)</th>
                <td style="text-align: center;">{{material[0].material.calibre_e[0]}}</td>
                <td style="text-align: center;">{{material[0].material.calibre_e[1]}}</td>
                <td style="text-align: center;">{{material[0].material.calibre_e[2]}}</td>
                <td style="text-align: center;">{{promedio_calibre.toFixed(Calibre_nf)}}</td>
                <td style="text-align: center;">{{desviacion_calibre.toFixed(Calibre_nf)}}</td>
                <td style="text-align: center;">{{min_calibre}}</td>
                <td style="text-align: center;">{{max_calibre}}</td> 
             </tr>
             <tr>
                <th style="text-align: center;">Calibre (µm)</th>
                <td style="text-align: center;">{{material[0].material.calibre_e[6]}}</td>
                <td style="text-align: center;">{{material[0].material.calibre_e[7]}}</td>
                <td style="text-align: center;">{{material[0].material.calibre_e[8]}}</td>
                <td style="text-align: center;">{{promedio_calibre_um.toFixed(Calibre_nf_um)}}</td>
                <td style="text-align: center;">{{desviacion_calibre_um.toFixed(Calibre_nf_um)}}</td>
                <td style="text-align: center;">{{min_calibre_um}}</td>
                <td style="text-align: center;">{{max_calibre_um}}</td> 
            </tr>
            <tr>
                <th style="text-align: center;">Calibre (pt)</th>
                <td style="text-align: center;">{{material[0].material.calibre_e[3]}}</td>
                <td style="text-align: center;">{{material[0].material.calibre_e[4]}}</td>
                <td style="text-align: center;">{{material[0].material.calibre_e[5]}}</td>
                <td style="text-align: center;">{{promedio_calibre_pt.toFixed(Calibre_nf_pt)}}</td>
                <td style="text-align: center;">{{desviacion_calibre_pt.toFixed(Calibre_nf_pt)}}</td>
                <td style="text-align: center;">{{min_calibre_pt}}</td>
                <td style="text-align: center;">{{max_calibre_pt}}</td> 
             </tr>
        </table>

        <table class="table is-fullwidth is-bordered" *ngIf="_blancura && tablas">
            <tr>
                <th style="border: none;"></th>
                <th class="is-selected" colspan="3">Especificación</th>
                <th class="is-selected" colspan="4">Resultado</th>
            </tr>
            <tr>
                <th style="border: none;"></th>
                <th style="text-align: center;">mín</th>
                <th style="text-align: center;">Estandar</th>
                <th style="text-align: center;">máx</th>
                <th style="text-align: center;">X̅</th>
                <th style="text-align: center;">S</th>
                <th style="text-align: center;">mín</th>
                <th style="text-align: center;">máx</th>
            </tr>
            <tr>
                <th style="text-align: center;">Curling (s)</th>
                <td style="text-align: center;">{{material[0].material.curling[0]}}</td>
                <td style="text-align: center;">{{material[0].material.curling[1]}}</td>
                <td style="text-align: center;">{{material[0].material.curling[2]}}</td>
                <td style="text-align: center;">{{promedio_curling.toFixed(curling_nf)}}</td>
                <td style="text-align: center;">{{desviacion_curling.toFixed(curling_nf)}}</td>
                <td style="text-align: center;">{{min_curling}}</td>
                <td style="text-align: center;">{{max_curling}}</td> 
            </tr>
            <tr>
                <th style="text-align: center;">Blancura (%)</th>
                <td style="text-align: center;">{{material[0].material.blancura[0]}}</td>
                <td style="text-align: center;">{{material[0].material.blancura[1]}}</td>
                <td style="text-align: center;">{{material[0].material.blancura[2]}}</td>
                <td style="text-align: center;">{{promedio_blancura.toFixed(blancura_nf)}}</td>
                <td style="text-align: center;">{{desviacion_blancura.toFixed(blancura_nf)}}</td>
                <td style="text-align: center;">{{min_blancura}}</td>
                <td style="text-align: center;">{{max_blancura}}</td> 
            </tr>
        </table>

        <div class="columns" *ngIf="tablas">
            <div class="column is-1">
                <table class="table is-fullwidth is-striped">
                    <tr>
                        <th> </th>
                    </tr>
                    <tr>
                        <th class="is-selected">Muestra</th>
                    </tr>
                    <tr *ngFor="let e of [].constructor(muestras);index as i">
                        <th class="is-selected" style="text-align: center;">{{i + 1}}</th>
                    </tr>
                </table>
            </div>
        
            <div class="column" *ngIf="tablas">
                <div class="tabs">
                    <ul>
                      <li [ngClass]="{'is-active':_gramaje}" (click)="gramaje_()"><a>Gramaje y Cobb</a></li>
                      <li [ngClass]="{'is-active':_calibre}" (click)="calibre_()"><a>Calibre</a></li>
                      <li [ngClass]="{'is-active':_blancura}" (click)="blancura_()"><a>Curling y blancura</a></li>
                      <li [ngClass]="{'is-active':_dimensiones}" (click)="dimensiones_()"><a>Dimensiones</a></li>
                    </ul>
                </div>


                <!-- Gramaje -->
                <table class="table is-fullwidth datos" *ngIf="_gramaje && tablas">
                    <tr>
                        <th class="is-selected">
                            Masa inicial (g)
                        </th>
                        <th class="is-selected">
                            Gramaje (g/m²)
                        </th>
                        <th class="is-selected">
                            Masa final (g)
                        </th>
                        <th class="is-selected">
                            Cobb (g/m²)
                        </th>
                    </tr>
                    <tr *ngFor="let e of [].constructor(muestras);index as i">
                        <td>
                            <input type="number" class="input is-small gramaje" tabindex="{{i+1}}" [(ngModel)]="inicial[i]" (change)="calcular_gramaje(i)">
                        </td>
                        <td>
                            <div class="columns">
                                <div class="column is-3" *ngIf="gramaje[i]">
                                    {{gramaje[i]}} 
                                </div>
                                <div class="column is-1">
                                    <ng-container *ngIf="gramaje[i] > material[0].material.gramaje_e[2]">
                                        <span class="red">
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="gramaje[i] < material[0].material.gramaje_e[0]">
                                        <span class="red">
                                            <i class="fas fa-caret-down"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="gramaje[i] < material[0].material.gramaje_e[2] && gramaje[i] > material[0].material.gramaje_e[0]">
                                        <span class="green">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="number" class="input is-small gramaje" tabindex="{{muestras+i+1}}" [(ngModel)]="final[i]" (change)="calcular_cobb(i)">
                        </td>
                        <td>
                            <ng-container *ngIf="i+1 <= muestras/2">
                                <div class="columns">
                                    <div class="column">{{cobb[i]}}</div>
                                    <div class="column">(T)</div>
                                    <div class="column">
                                        <ng-container *ngIf="cobb[i] > material[0].material.cobb[2]">
                                            <span class="red">
                                                <i class="fas fa-caret-up"></i>
                                            </span>
                                        </ng-container>
            
                                        <ng-container *ngIf="cobb[i] < material[0].material.cobb[0]">
                                            <span class="red">
                                                <i class="fas fa-caret-down"></i>
                                            </span>
                                        </ng-container>
            
                                        <ng-container *ngIf="cobb[i] <= material[0].material.cobb[2] && cobb[i] >= material[0].material.cobb[0]">
                                            <span class="green">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                                <!--    <input type="number" class="input is-small gramaje"> (T) -->
                                <!--    {{cobb[i]}} (T) -->
                            </ng-container>
                            <ng-container *ngIf="i+1 > muestras/2">
                                <div class="columns">
                                    <div class="column">{{cobb[i]}}</div>
                                    <div class="column">(B)</div>
                                    <div class="column">
                                        <ng-container *ngIf="cobb[i] > material[0].material.cobb[5]">
                                            <span class="red">
                                                <i class="fas fa-caret-up"></i>
                                            </span>
                                        </ng-container>
            
                                        <ng-container *ngIf="cobb[i] < material[0].material.cobb[3]">
                                            <span class="red">
                                                <i class="fas fa-caret-down"></i>
                                            </span>
                                        </ng-container>
            
                                        <ng-container *ngIf="cobb[i] <= material[0].material.cobb[5] && cobb[i] >= material[0].material.cobb[3]">
                                            <span class="green">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                                <!-- (B) <input type="number" class="input is-small gramaje"> -->
                                <!-- (B) {{cobb[i]}} -->
                            </ng-container>
                        </td>
                    </tr>
                </table>
                <!-- FIN Gramaje -->

                <!-- CALIBRE -->
                <table class="table is-fullwidth datos" *ngIf="_calibre && tablas">
                    <tr>
                        <th class="is-selected">
                            Calibre (mm)
                        </th>
                        <th class="is-selected">
                            Calibre (µm)
                        </th>
                        <th class="is-selected">
                            Calibre (pt)
                        </th>
                    </tr>
                    <tr *ngFor="let e of [].constructor(muestras);index as i">
                        <td>
                            <div class="columns">
                                <div class="column">
                                    <input type="number" class="input is-small gramaje" tabindex="{{i+1}}" [(ngModel)]="calibre[i]" (change)="calcular_calibre(i)">
                                </div>
                                <div class="column">
                                    <ng-container *ngIf="calibre[i] > material[0].material.calibre_e[2]">
                                        <span class="red">
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="calibre[i] < material[0].material.calibre_e[0]">
                                        <span class="red">
                                            <i class="fas fa-caret-down"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="calibre[i] <= material[0].material.calibre_e[2] && calibre[i] >= material[0].material.calibre_e[0]">
                                        <span class="green">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="columns">
                                <div class="column">
                                    {{Um_calibre[i]}}
                                </div>
                                <div class="column">
                                    <ng-container *ngIf="Um_calibre[i] > material[0].material.calibre_e[8]">
                                        <span class="red">
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="Um_calibre[i] < material[0].material.calibre_e[6]">
                                        <span class="red">
                                            <i class="fas fa-caret-down"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="Um_calibre[i] <= material[0].material.calibre_e[8] && Um_calibre[i] >= material[0].material.calibre_e[6]">
                                        <span class="green">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="columns">
                                <div class="column">
                                    {{pt_calibre[i]}}
                                </div>
                                <div class="column">
                                    <ng-container *ngIf="pt_calibre[i] > material[0].material.calibre_e[5]">
                                        <span class="red">
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="pt_calibre[i] < material[0].material.calibre_e[3]">
                                        <span class="red">
                                            <i class="fas fa-caret-down"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="pt_calibre[i] <= material[0].material.calibre_e[5] && pt_calibre[i] >= material[0].material.calibre_e[3]">
                                        <span class="green">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- FIN DE CALIBRE  -->

                <!-- BLANCURA -->
                <table class="table is-fullwidth datos" *ngIf="_blancura && tablas">
                    <tr>
                        <th class="is-selected">
                            Curling (s)
                        </th>
                        <th class="is-selected">
                            Grado de blancura (%)
                        </th>
                    </tr>
                    <tr *ngFor="let e of [].constructor(muestras);index as n">
                        <td>
                            <div class="columns">
                                <div class="column">
                                    <input type="number" class="input is-small gramaje" [(ngModel)]="curling[n]" tabindex="{{n+1}}" (change)="calcular_curling(i)">
                                </div>
                                <div class="column">
                                    <ng-container *ngIf="curling[n] > material[0].material.curling[2]">
                                        <span class="red">
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="curling[n] < material[0].material.curling[0]">
                                        <span class="red">
                                            <i class="fas fa-caret-down"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="curling[n] <= material[0].material.curling[2] && curling[n] >= material[0].material.curling[0]">
                                        <span class="green">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="columns">
                                <div class="column">
                                    <input type="number" class="input is-small gramaje" [(ngModel)]="blancura[n]" tabindex="{{muestras+i+1}}" (change)="calcular_blancura(i)">
                                </div>
                                <div class="column">
                                    <ng-container *ngIf="blancura[n] > material[0].material.blancura[2]">
                                        <span class="red">
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="blancura[n] < material[0].material.blancura[0]">
                                        <span class="red">
                                            <i class="fas fa-caret-down"></i>
                                        </span>
                                    </ng-container>
        
                                    <ng-container *ngIf="blancura[n] <= material[0].material.blancura[2] && blancura[n] >= material[0].material.blancura[0]">
                                        <span class="green">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- FIN BLANCURA -->
                <table class="table is-fullwidth datos" *ngIf="_dimensiones && tablas">
                    <tr>
                        <th class="is-selected">Escuadra</th>
                        <th class="is-selected">Contra Escuadra</th>
                        <th class="is-selected">Pinza</th>
                        <th class="is-selected">Contra pinza</th>
                    </tr>
                    <tr *ngFor="let e of [].constructor(muestras);index as n">
                        <td><input type="number" class="input is-small gramaje" [(ngModel)]="escuadra[n]" tabindex="{{n+1}}" (change)="calcular_escuadra(i)"></td>
                        <td><input type="number" class="input is-small gramaje" [(ngModel)]="contra_escuadra[n]" tabindex="{{n+1}}" (change)="calcular_contra_escuadra(i)"></td>
                        <td><input type="number" class="input is-small gramaje" [(ngModel)]="pinza[n]" tabindex="{{n+1}}" (change)="calcular_pinza(i)"></td>
                        <td><input type="number" class="input is-small gramaje" [(ngModel)]="contra_pinza[n]" tabindex="{{n+1}}" (change)="calcular_contra_pinza(i)"></td>
                    </tr>
                </table>

            </div>
        </div>
        <hr *ngIf="tablas">
        <div class="columns" *ngIf="tablas">
            <div class="column">
                <div class="field">
                    <label for="" class="label">Observaciones</label>
                    <div class="control">
                        <textarea name="" id="" cols="30" rows="3" placeholder="Observaciones" class="textarea" [(ngModel)]="observacion"></textarea>
                    </div>
                </div>
            </div>
            <div class="column">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Validar</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox" (click)="validar()">
                                    Análisis realizado adecuadamente.
                                </label>
                            </td>
                            <td>
                                <div class="select">
                                    <select name="" id="" [(ngModel)]="resultado">
                                        <option value="APROBADO">APROBADO</option>
                                        <option value="RECHAZADO">RECHAZADO</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr *ngIf="tablas">
        <button class="button is-info" (click)="Guardar_progreso()" *ngIf="tablas">
            <span class="icon">
                <i class="fas fa-save"></i>
            </span>
            <span>Guardar progreso</span>
        </button> 
        <button class="button is-success" (click)="PreFinalizacion()" *ngIf="validado">
            <span class="icon">
                <i class="fas fa-download"></i>
            </span>
            <span>
                Enviar resultados
            </span>
        </button>
        </div>
    </div>
</div>