<section class="hero is-small is-primary">
    <!-- <img src="../assets/BANNER-SIO-1092x270-v03.jpg"> -->
</section>

<div class="container mt-5">
    <!-- <div class="column is-5">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="/laboratorio">Laboratorio</a></li>
              <li class="is-active"><a href="/laboratorio/especificaciones">Especificaciones</a></li>
            </ul>
          </nav>
    </div> -->
    <div class="columns menu">
        <!-- <div class="column"> -->
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        <!-- </div> -->
        <div class="column" *ngIf="usuario.Role != 'almacen'">
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        </div> 
        <div class="column is-3" *ngIf="usuario.Role != 'almacen'">
            <img src="../../../assets/BANNER-RECEPCION-MATERIALES.png" alt="" routerLink="recepcion">
        </div>
        <div class="column is-3" *ngIf="usuario.Role != 'almacen'">
            <img src="../../../assets/BANNER-INVENTARIO.png" alt="">
        </div>
        <div class="column is-3" *ngIf="usuario.Role != 'almacen'">
            <img src="../../../assets/BANNER-ALMACEN-PRODUCTO-TERMINADO.png" alt="" routerLink="almacen">
        </div>
         <div class="column is-3">
            <img src="../../../assets/BANNER-ALMACEN-REPUESTOS.png" alt="" routerLink="repuestos">
        </div> 
        <!-- <div class="column"> -->
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        <!-- </div> -->
        <!-- <div class="column"> -->
            <!-- <img src="../../../assets/BANNER-NUEVA-ORDEN.png" alt="" routerLink="/orden"> -->
        <!-- </div> -->
    </div>
</div>