.subtitulo {
    font-size: 30px;
    font-family: Roboto;
}

.cintillo {
    background: var(--bg-main);
    color: var(--text-main);
}

.cintillo_ {
    padding: 5px;
    background-color: var(--primary-color);
    color: white;
}

.white {
    background: var(--bg-main);
    color: var(--text-main);
}

.modal-card {
    width: 65%;
}

.fechas {
    position: relative;
    width: 100px;
}

.icono {
    color: #48c78e;
}

.icono:hover {
    color: #49a079;
    cursor: pointer;
}